<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}} - Nintendo Salta</title>

    {{ template "partials/common/metadata" .}}

    <link rel="stylesheet" href="styles/login.css">
</head>
<body>

    {{ template "partials/common/header" .}}
    
    {{ template "partials/common/login_form" .}}

    <script type="text/javascript">
        async function redirect() {
            const exists = document.cookie.includes('token');

            if (exists) {
                const cookies = document.cookie;
                const time = parseInt(cookies.slice(cookies.indexOf('expire=')).split('expire=').join(''));

                if ((time - Date.now()) <= 0) {
                    document.cookie = `token=;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
                    document.cookie = `expire=;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
                    return;
                }

                const url = {{.site_location}} + '/admin';
                const res = await fetch(url);
                if (res) {
                    if (res?.status === 401) {
                        document.cookie = `token=;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
                        document.cookie = `expire=;expires=Thu, 01 Jan 1970 00:00:01 GMT`;
                        return;
                    }

                    location.replace(url)
                }
            }
        }

        redirect();
    </script>
</body>
</html>