<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}} - Nintendo Salta</title>

    {{ template "partials/common/metadata" .}}

    <link rel="stylesheet" href="styles/login.css">

    <script>
        const exists = document.cookie.includes("token")
        const url = 'http://' + location.host + '/admin'

        if (exists) {
            fetch(url)
            .then(res => {
                if (res && res.status !== 500 && res.status !== 400 && res.status !== 401) {
                    location.replace(document.URL.replace("/login", "/admin"))
                }
            })
        }
    </script>
</head>
<body>

    {{ template "partials/common/header" .}}
    
    {{ template "partials/common/login_form" .}}
    
</body>
</html>