<header>
    <div class="header-element">
        <a href="https://www.facebook.com/groups/nintendosalta" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>

    <div class="header-element">
        <img src="{{.site_location}}/assets/images/logo-wp.jpg" class="logo" />
    </div>

    <div class="header-element">
        <a href="https://www.instagram.com/nintendo_salta/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</header>