<header>
    <div class="header-element">
        <a href="https://www.facebook.com/groups/nintendosalta" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>

    <div class="header-element">
        <a href="{{.site_location}}">
            <img src="{{.site_location}}/assets/images/logo-wp.jpg" class="logo" />
        </a>
    </div>

    <div class="header-element">
        <a href="https://www.instagram.com/nintendo_salta/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</header>

{{ if .title }}
<div>
    <h1 class="title">{{ .title }}</h1>
</div>
{{ end }}