<form method="post" id="loginForm">

    <div class="form-body">
        <div class="form-element">
            <label for="name">Nombre de usuario:</label> <br />
            <input type="text" id="inputName" name="name" placeholder="Username" />
        </div>
    
        <div class="form-element">
            <label for="password">Contraseña:</label> <br />
            <input type="password" id="inputPassword" name="password" placeholder="Password" />
        </div>
    
        <div class="form-element submit">
            <input type="submit" id="submitButton" value="Login" />
        </div>
    </div>
</form>

<script type="text/javascript">
    const form = document.getElementById('loginForm');
    const name = document.getElementById('inputName');
    const password = document.getElementById('inputPassword');

    document.getElementById('submitButton').addEventListener('click', e => {
        if (name.value.trim() === '' || name.value.length < 1) {
            alert('El nombre seleccionado es muy corto. Intentelo otra vez.');
            e.preventDefault();
            return;
        }

        if (password.value.trim() === '' || password.value.length < 1) {
            alert('Necesitas ingresar una contraseña.');
            e.preventDefault();
            return;
        }
    });
</script>

{{ if .token }}

<script type="text/javascript">
    function setCookies() {
        const t = {{.token}};
        const e = {{.expire}};

        document.cookie = `token=${t}; SameSite=None; Secure`;
        document.cookie = `expire=${e}; SameSite=None; Secure`;
    }

    function main() {
        setCookies();
        location.replace({{.site_location}} + '/admin');
    }

    main();
</script>

{{ end }}