<link rel="icon" type="image/x-icon" href="{{.site_location}}/assets/images/favicon.ico">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="{{.site_location}}/assets/styles/main.css">
<link rel="stylesheet" href="{{.site_location}}/assets/styles/admin.css">
<link rel="stylesheet" href="{{.site_location}}/assets/styles/login.css">
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<script src="https://kit.fontawesome.com/f9892a01bc.js" crossorigin="anonymous"></script>