<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }} - Nintendo Salta</title>

    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/login.css">
    {{ template "partials/common/metadata" .}}
</head>
<body>
    {{ template "partials/common/header" .}}

    <div>
        <h1 class="title">{{ .title }}</h1>
    </div>

    <main role="main" class="container content-box">
        
        <form>
            <div class="form-body">
                <div class="form-element submit">
                    <button type="button" id="clearButton" class="red-button"
                        hx-delete="/api/users" 
                        hx-trigger="click"
                        hx-target="#result"
                        hx-confirm="¿Estás seguro de querer eliminar todos los participantes actuales? Esta acción no podrá revertirse"
                    >Eliminar todo</button>
                </div>
            </div>
        </form>

        <div id="result" class="hide"></div>
        <div id="showTable" class="result-container"></div>
    </main>


    {{ template "partials/common/footer" .}}

    <script type="text/javascript">
        const button = document.getElementById('clearButton')
        const result = document.getElementById('result');
        const showTable = document.getElementById('showTable');

        htmx.on('htmx:beforeSend', (e) => {
            const url = {{ .site_location }} + `/api/users`;
            fetch(url)
            .then(res => res.json())
            .then(json => {
                
                if (json && json?.status === 'success' && Array.isArray(json?.data)) {
                    if (json?.data.length === 0) {
                        htmx.trigger('#clearButton', 'htmx:abort');
                        showTable.innerText = `No había participantes registrados, así que fue imposible eliminar la base de datos.`;
                    }
                }
            });
        });

        htmx.on('htmx:afterOnLoad', (e) => {
            const str = result.innerText;
            let table = '';

            if (str) {
                const res = JSON.parse(str);

                if (res?.status === 'success' && res?.data && Array.isArray(res?.data)) {
                    table += `<p>Resultado de la eliminación:</p>`
                    table += `<table class="users-table"><thead><tr> <th>ID</th> <th>Nombre</th> <th>Puntaje</th> </tr></thead><tbody class="users-table-body">`;
                    if (res.data && Array.isArray(res.data)) {
                        let element;
                        for (let i = 0; i < res.data.length; i++) {
                            element = res.data[i];
                            table += `<tr>`;
                            table += `<td>${element.ID}</td><td>${element.name}</td><td>${element.score}</td>`;
                            table += `</tr>`;
                        }
                    }
                    table += `</tbody></table>`;
                } else {
                    htmx.trigger('#clearButton', 'htmx:abort')
                }
                
                showTable.innerHTML = table;
            }

        });
    </script>
</body>
</html>