* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    color: #111111;
}

body {
    background-color: rgba(243, 243, 243, 0.7);
    background: #f1f1f1;

    display: grid;
    grid-template-columns: 100%;
}

/* HEADER */
header {
    width: 100%;
    background-color: red;
    text-align: center;
    margin:0 auto;
    padding: 0;
}

.header-element {
    display: inline-block;
}

.header-element i {
    color: #ffffff;
    padding: 10px;
    font-size: 1.5rem;
}

.logo {
    width: 280px;
    height: 100px;
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    text-align: justify;
}

.content-box {
    width: 100%;
    height: 80%;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    border-top: 1px solid #ccc;
    box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
    -webkit-box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
    -moz-box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
}

.container {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3.5rem;
    padding: 30px 30px;
    font-weight: bold;
    text-align: center;
}

.users-table {
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 1px auto;
    margin-top: 2%;
    text-align: center;
    border-collapse: collapse
}

.users-table thead {
    background: rgb(233, 57, 57);
    color: #ffffff;
}

.users-table th {
    font-weight: bold;
}

.users-table th,
.users-table td {
    padding: 5px;
    height: 1.5rem;
    border-bottom: 1px solid rgb(233, 57, 57);
}

.users-table th:nth-child(2),
.users-table td:nth-child(2),
.users-table th:nth-child(3),
.users-table td:nth-child(3) {
    width: 15rem;
}

.users-table th:nth-child(1),
.users-table td:nth-child(1) {
    width: 5rem;
}

.users-table thead th:nth-child(2), .users-table tbody td:nth-child(2) {
    border-right: 1px solid rgb(233, 57, 57);
    border-left: 1px solid rgb(233, 57, 57);
}

.users-table tbody tr:hover {
    background: rgba(248, 186, 194, 0.9);
}

.hide {
    display: none !important;
}

/* Footer */
footer {
    width: 100%;
    height: 9rem;
    margin-top: 1rem;
    background-color: red;
    color: #fff;
}

p.footer-box {
    margin:auto;
    text-align: center;
}

.footer-box i {
    color: #fff;
    margin-top: 4rem;
    font-size: 1.5rem;
}

.blue-button {
    text-decoration: none;
    background: darkblue;
    color: #f1f1f1;
    border: 1px solid darkblue;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    max-width: 10rem;
    margin: 0.5rem 1.5rem;
}

.blue-button:hover {
    background: #f1f1f1;
    color: darkblue;
}

.red-button {
    text-decoration: none;
    background: red;
    color: #fff;
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 7px;
}

.red-button:hover {
    cursor: pointer;
    background: #fff;
    color: red;
}


.result-container {
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    text-align: justify;
}
