* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgba(243, 243, 243, 0.7);
    background: #f1f1f1;
}

/* HEADER */
header {
    background-color: red;
    margin: 0 auto;
    text-align: center;
    padding: 1.5px;
}

.header-element {
    display: inline-block;
}

.header-element i {
    color: #ffffff;
    padding: 10px;
    font-size: 1.5rem;
}

.logo {
    width: 280px;
    height: 100px;
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    text-align: justify;
    width: 100%;
    height: 100%;
}

.content-box {
    width: 100%;
    height: 80%;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    border-top: 1px solid #ccc;
    box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
    -webkit-box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
    -moz-box-shadow: 1px -3px 13px -6px rgba(102,102,102,0.75);
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3.5rem;
    padding: 30px 30px; 
    font-weight: bold;
}

.ranking-table {
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 1px auto;
    margin-top: 2%;
    text-align: center;
    border-collapse: collapse
}

.ranking-table thead {
    background: rgb(233, 57, 57);
    color: #ffffff;
}

.ranking-table th {
    font-weight: bold;
}

.ranking-table th,
.ranking-table td {
    padding: 5px;
    height: 1.5rem;
    border-bottom: 1px solid rgb(233, 57, 57);
}

.ranking-table th:nth-child(2),
.ranking-table td:nth-child(2),
.ranking-table th:nth-child(3),
.ranking-table td:nth-child(3) {
    width: 15rem;
}

.ranking-table th:nth-child(1),
.ranking-table td:nth-child(1) {
    width: 5rem;
}

.ranking-table thead th:nth-child(2), .ranking-table tbody td:nth-child(2) {
    border-right: 1px solid rgb(233, 57, 57);
    border-left: 1px solid rgb(233, 57, 57);
}

.ranking-table tbody tr:hover {
    background: rgba(248, 186, 194, 0.9);
}

.hide {
    display: none !important;
}

/* Footer */
footer {
    width: 100%;
    height: 9rem;
    margin-top: 1rem;
    background-color: red;
    color: #fff;
}

.footer-box {
    padding: 10px;
}

.footer-box i {
    color: #fff;
    margin-top: 4rem;
    font-size: 1.5rem;
}